# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'.platform-darwin atom-text-editor':
  'ctrl-c e': 'css-unit-converter:pixels-to-ems'
  'ctrl-c r': 'css-unit-converter:pixels-to-rems'
  'ctrl-c t': 'css-unit-converter:pixels-to-points'
  'ctrl-c %': 'css-unit-converter:pixels-to-percents'
'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'alt-c e': 'css-unit-converter:pixels-to-ems'
  'alt-c r': 'css-unit-converter:pixels-to-rems'
  'alt-c t': 'css-unit-converter:pixels-to-points'
  'alt-c %': 'css-unit-converter:pixels-to-percents'
